<!doctype html>
<html>
 <head>
  <meta charset="utf-8">
  <title>My First Flask Page</title>
 </head>
 <body>
  <h1>All Users</h1>
  {% include 'menu.html' %}
  <table>
   <thead>
    <tr>
     <th>Name</th>
     <th>Age</th>
     <th>Language</th>
    </tr>
   </thead>
   <tbody>
    <!-- 주석을 달 수 있는 공간입니다.-->
    {% for row in rows %}
    <tr>
        <td>{{ row['name'] }}</td>
        <td>{{ row['age'] }}</td>
        <td>{{ row['lang'] }}</td>
    </tr>
    {% endfor %}
   </tbody>
  </table>
 </body>
</html>
