<!doctype html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Users::Fastcampus</title>
 </head>
 <body>
  <h1>Users</h1>
 <ul>
  <li>
   <a href="/">Home</a>
  </li>
  <li>
   <a href="/calc">Link</a>
  </li>
  <li>
   <a href="/users">View users</a>
  </li>
  <li>
   <a href="/signup">Signup</a>
  </li>
  </ul>
  <table>
   <thead>
    <th>Name</th>
    <th>Age</th>
    <th>Lang</th>
   </thead>
   <tbody>
    {% for row in rows %}
    <tr>
        <td>{{ row["name"] }}</td>
        <td>{{ row["age"] }}</td>
        <td>{{ row["lang"] }}</td>
    </tr>
    {% endfor %}
   </tbody>
  </table>
 </body>
</html>
