<!doctype html>
<html>
 <head>
  <meta charset="utf-8">
  <title>This is Real Fakebook|Fastcampus</title>
 </head>
 <body>
  <h1>여기가 제목이라는 것이 진짜 중요한 제목</h1>
  <h2>서버 관리자의 메시지: {{ msg }}</h2>
  <p>(종합) 2018년 4월 20일은 금요일인 것으로 밝혀져 충격을 주고 있다. <br> 서울시 성동구 아차산로에 위치한 
  <span style="font-size: 3em;">
      <a href="http://www.fastcampus.co.kr">
          패스트캠퍼스
      </a>
  </span>
  에서 지난 20일 2018년의 4월 20일이 20일 인것으로 드러나면서, 전국민에게 신선한 충격을 주고 있다.</p>
  <img src="https://cdn.auth0.com/blog/python-restful/logo.png" style="width: 200px;">
  <div style="background-color:black; color: white; margin: 0;">
  <p>(종합) 2018년 4월 20일은 금요일인 것으로 밝혀져 충격을 주고 있다. <br> 서울시 성동구 아차산로에 위치한 패스트캠퍼스에서 지난 20일 2018년의 4월 20일이 20일 인것으로 드러나면서, 전국민에게 신선한 충격을 주고 있다.</p>
  </div>
 </body>
</html>
