<!doctype html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Get users</title>
 </head>
 <body>
  <h1>User table</h1>
  <!-- TODO -->
  <form action="{{ url_for('submit') }}" method="POST">
   <input type="text" name="name">
   <input type="text" name="age">
   <input type="text" name="lang">
   <input type="submit" name="submit" value="저장하기">
  </form>
  <h3>{{ msg }}</h3>
  <table>
   <tbody>
    {% for row in rows %}
    <tr>
     <td>{{ row['name'] }}</td>
     <td>{{ row['age'] }}</td>
     <td>{{ row['lang'] }}</td>
    </tr>
    {% endfor %}
   </tbody>
  </table>
 </body>
</html>
